# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [13]:
s1 = pd.Series(np.random.randint(1,5,100))
s2 = pd.Series(np.random.randint(1,4,100))
s3 = pd.Series(np.random.randint(10000,30001,100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [17]:
df = pd.DataFrame({'c1':s1,'c2':s2,'c3':s3})

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [18]:
df.rename(columns={"c1":"bedrs","c2":"bathrs","c3":"price_sqr_meter"},inplace=True)

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [24]:
bigcolumn = pd.concat([s1,s2,s3],axis=0)
bigcolumn = bigcolumn.to_frame()

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [26]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [31]:
bigcolumn.reset_index(drop=True,inplace=True)
bigcolumn

         0
0        4
1        2
2        4
3        4
4        2
..     ...
295  18996
296  10656
297  18624
298  21957
299  11593

[300 rows x 1 columns]